<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Settings</title>
</head>
<body>
<%- include('fragments/header'); %>
<h1>Account settings</h1>
<p>Manage your account here!</p>
<form action="/accSettings" method="post">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" value="<%=fname%>"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" value="<%=lname%>"><br><br>
<!--    <label for="lname">Salary/ Hourly:</label>-->
<!--    <input type="text" id="salary" name="salary" value="<%=salary%>"><br><br>-->
<!--    <input type="radio" id="salary" name="salhour" value="Salary" <%=salary_sel%>>-->
<!--    <label for="html">Salary</label><br>-->
<!--    <input type="radio" id="hourly" name="salhour" value="Hourly" <%=hourly_sel%>>-->
<!--    <label for="css">Hourly</label><br>-->
    <label for="start">DOB:</label>

    <input type="date" id="dob" name="dob"
           value="<%=dob%>"
           min="1901-01-01" max="2020-12-31">
    <br>

<h1><b>Jobs</b></h1>
<form  method="post" name="myForm" id="myForm">
    <fieldset>
        <button type="submit" formaction="/TroveAccounting/add">Add Job</button>
        <button type="submit" formaction="/TroveAccounting/delete">Delete Job</button>
        <!--  <button method = "post" formaction="/Goals/delete" type="submit" onclick="delGoal()">Del Goal</button>-->

        <div>
            <p><b>Jobs </b></p>
            <label for="jobID">Job Number:</label>
            <select id="jobID" name="jobID">
                <option id="option1" value="1" >Job1</option>
                <option id="option2"value="2" >Job2</option>
                <option id="option3"value="3" >Job3</option>
            </select>
            </br>
            <label for="JobPay">Enter Job Pay:</label>
            <input type="text" id="jobPay" name="jobPay">
            </br>
            <label for="jobName">Enter Job Name:</label>
            <input type="text" id="jobName" name="jobName">
            </br>
            <label for="lname">Salary/ Hourly:</label>-->
            <input type="text" id="salary" name="salary" value="<%=salary%>"><br><br>
            <input type="radio" id="salary" name="salhour" value="Salary" <%=salary_sel%>>
            <label for="html">Salary</label><br>
            <input type="radio" id="hourly" name="salhour" value="Hourly" <%=hourly_sel%>>
            <label for="css">Hourly</label><br>
        </div>
    </fieldset>
</form>

<%if(jd[0]["has"]){%>
<div id="job1Block">
    <p> Job #: <%=jd[0]["jobID"]%> <span id="jobIDDisplay1"></span></p>
    <p> Job Name: <%=jd[0]["jobName"]%> <span id="jobIDDisplay2"></span></p>
    <p> Job Type: <%=jd[0]["jobType"]%> <span id="jobIDDisplay3"></span></p>
    <p> Job Pay: <%=jd[0]["jobPay"]%> <span id="jobIDDisplay4"></span></p>
    <form  method="post" name="myForm" id="myForm">
        <input type="hidden" value="<%=jd[0]["jobID"]%>" name="tempID" >
        <input type="hidden" value="<%=jd[0]["jobName"]%>" name="tempName" >
        <input type="hidden" value="<%=jd[0]["jobType"]%>" name="tempType" >
        <input type="hidden" value="<%=jd[0]["jobPay"]%>" name="tempPay" >
    </form>
</div>
<%}%>
    <br>
    <br>
    <br>
    <inline>
        <input type="submit" value="Save for Later">
        <input type="submit" value="Submit">
        <input type="submit" value="Save">
    </inline>
</form>

<%// if(remessage == "error") { %>
    <h3 style="color:#FF0000"> <%= remessage%> </h3>
<% //} %>


</body>
</html>