<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Settings</title>
</head>
<body>
<%- include('fragments/header'); %>
<h1>Account settings</h1>
<p>Manage your account here!</p>
<form action="/accSettings" method="post">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" value="<%=fname%>"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" value="<%=lname%>"><br><br>
    <label for="lname">Salary/ Hourly:</label>
    <input type="text" id="salary" name="salary" value="<%=salary%>"><br><br>
    <input type="radio" id="salary" name="salhour" value="Salary" <%=salary_sel%>>
    <label for="html">Salary</label><br>
    <input type="radio" id="hourly" name="salhour" value="Hourly" <%=hourly_sel%>>
    <label for="css">Hourly</label><br>
    <label for="start">DOB:</label>

    <input type="date" id="dob" name="dob"
           value="<%=dob%>"
           min="1901-01-01" max="2020-12-31">

    <input type="submit" value="Submit">
</form>
<%// if(remessage == "error") { %>
    <h3 style="color:#FF0000"> <%= remessage%> </h3>
<% //} %>

</body>
</html>