<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trove</title>
</head>
<body>
<%- include('fragments/header'); %>
<style>
    body {background-color: #3E6990; color: #ffffff;}
    button {background-color: #AABD8C; color:#000000; border: 1px solid #000000; border-radius: 10px;
        padding: 10px;}
    button:hover {cursor: pointer;}
    .bar {-webkit-appearance: none; width: 25%; height: 15px; color: #2B2A32; background-color: #AABD8C;
        -webkit-transition: .2s; transition: opacity .2s; margin-top: 10px; border: none;}
    a {color: #000000; text-decoration: none;}
    a:hover {font-weight: bold; cursor: pointer;}
    table {width: 100%; background-color:#E9E3B4; color:#000000;}
    table, th, td {border:1px solid black; background-color:#E9E3B4; color:#000000;}
</style>
<h1>Dashboard</h1>
<p> Welcome! <%= userid %></p>
<table>
    <tr>
        <td>
            <a href="/TroveAccounting">
                <%- goals %>
            </a>
        </td>
        <td>
            <a>Tips will go here</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Weekly-Calendar">
                <table style="background-color:#E9E3B4; color:#000000;" id="cal">
                    <tr id="tableHead">
                        <th><%= day %></th>
                    </tr>
                    <tr>
                        <td><%- events %></td>
                    </tr>
                </table>
            </a>
        </td>
        <td>
            <a href="/accSettings">Expenditures will go here</a>
                <table id="expTable">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Amount</th>
                    </tr>
                    <% for(var i =0;i<sdata.length;i++){%>
                    <tr>
                        <td><%=sdata[i][0];%></td>
                        <td><%=sdata[i][1];%></td>
                        <td><%=sdata[i][2];%></td>
                        <td><%=sdata[i][3];%></td>
                    </tr>
                    <%}%>
                </table>
        </td>
    </tr>
</table>
</body>
</html>