<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trove</title>
</head>
<body>
<%- include('fragments/header'); %>
<style>
    body {background-color: #3E6990; color: #ffffff;}
    button {background-color: #AABD8C; color:#000000; border: 1px solid #000000; border-radius: 10px;
        padding: 10px;}
    button:hover {cursor: pointer;}
    .bar {-webkit-appearance: none; width: 25%; height: 15px; color: #2B2A32; background-color: #AABD8C;
        -webkit-transition: .2s; transition: opacity .2s; margin-top: 10px; border: none;}
    a {color: #FFFFFF; text-decoration: none;}
    a:hover {font-weight: bold; cursor: pointer;}
    table {color:#000000; padding:30px; border-spacing: 10px; margin-left:auto; margin-right:auto; layout:fixed;}
    td {border:1px solid #33455A; background-color:#33455A; color:#000000; padding:30px; border-radius: 25px; color:white; width:50%;}
    #cal {padding:0px; background-color: #33455A; color:white;}
    #day {border-color:#E9E3B4;background-color: #E9E3B4; color:black;}
    .goalline{background-color: #2B2A32; border-radius: 25px; padding: 10px; margin-bottom: 10px;}
    #expTable th{ background-color: #2B2A32; border-radius: 5px; color:white; padding: 2px;
    }
    #expTable{ background-color: #2B2A32; border-radius: 25px; padding: 2px; margin-top:5px;
    }
    #expTable tr{ background-color: #2B2A32; border-radius: 5px; color:white; padding: 2px;
    }
</style>
<h1>Dashboard</h1>
<p> Welcome! <%= userid %></p>
<table>
    <tr>
        <td>
            <a href="/TroveAccounting">
                <%- goals %>
            </a>
        </td>
        <td>
            <h3>Tips</h3>
            <p>Don't Forget Your Taxes.</p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Weekly-Calendar">
                <table id="cal">
                    <tr id="tableHead">
                        <th><%= day %></th>
                    </tr>
                    <tr>
                        <td id="day"><%- events %></td>
                    </tr>
                </table>
            </a>
        </td>
        <td>
            <a href="/accSettings">Latest Expenditure (Click here to add more):</a>
            <table id="expTable">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>
                <%if(expend.length !== 0){%>
                    <tr>
                        <td><%= expend[expend.length - 1][0]; %></td>
                        <td><%= expend[expend.length - 1][1]; %></td>
                        <td><%= expend[expend.length - 1][2]; %></td>
                        <td><%= expend[expend.length - 1][3]; %></td>
                    </tr>
                <%}%>
            </table>
        </td>
    </tr>
</table>
</body>
</html>