<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goals</title>
</head>
<body>
<%- include('fragments/header'); %>
<h1><b>Trove Goals</b></h1>
<h3>Avast, welcome to your Trove Goals page! : </h3>
<h3>In order to reap the reward for your Trove Goals make sure to read the FAQ page on the dashboard for tips! </h3>
<form  method="post" name="myForm" id="myForm">
    <fieldset>
        <p><b>Create your Goal HERE! </b></p>
        <button type="submit" formaction="/TroveAccounting/add">Add Goal</button>
        <button type="submit" formaction="/TroveAccounting/delete">Delete Goal</button>
        <br>
        <div>
            <br>
            <label for="goalID">Goal Number:</label>
            <select id="goalID" name="goalID">
                <option id="option1" value="1" >Goal1</option>
                <option id="option2"value="2" >Goal2</option>
                <option id="option3"value="3" >Goal3</option>
            </select>
            </br>
            <label for="goalAmount">Enter Goal Amount:</label>
            <input type="text" id="goalAmount" name="goalAmount">
            </br>
            <label for="goalProgress">Enter Goal Progress:</label>
            <input type="text" id="goalProgress" name="goalProgress" >
            </br>
            <label for="goalName">Enter Goal Name:</label>
            <input type="text" id="goalName" name="goalName">
            </br>
            <label for="goalSlider">Enter Priority:</label>
            <input type="range" id="goalSlider" name="goalSlider"
                   min="10" max="100" value="100" step="10">
        </div>
        </br>
        <div id="mainError">
            <p style="color:#fdbe03"> <%= completion%> </p>
        </div>
    </fieldset>
</form>
<%if(gd[0]["has"]){%>
    <p style="color:#FF0000"><%= remessage%> </p>
    <div id="goal1Block">
    <p> Goal #: <%=gd[0]["goalID"]%> <span id="goalIDDisplay"></span></p>
    <p> Goal Name: <%=gd[0]["goalName"]%> <span id="goalIDDisplay2"></span></p>
    <p> Goal Amount: <%=gd[0]["goalAmount"]%> <span id="goalIDDisplay3"></span></p>
    <p> Goal Progress <%=gd[0]["goalProgress"]%> <span id="goalIDDisplay4"></span></p>
    <p> Goal Priority: <%=gd[0]["goalSlider"]%> <span id="goalIDDisplay5"></span></p>
        <p> Trove Limit: <%=gd[0]["goalLimit"]%> <span id="goalIDDisplay6"></span></p>
    <form  method="post" name="myForm" id="myForm">
        <label for="goalAddFunds"><button type="submit" formaction="/TroveAccounting/addFunds">Add Funds</button></label> <input type="text" id="goalAddFunds" name="goalAddFunds">
        <label for="goalDeleteFunds"><button type="submit" formaction="/TroveAccounting/deleteFunds">Delete Funds</button></label> <input type="text" id="goalDeleteFunds" name="goalDeleteFunds">
        <input type="hidden" value="<%=gd[0]["goalID"]%>" name="tempID" >
        <input type="hidden" value="<%=gd[0]["goalName"]%>" name="tempName" >
        <input type="hidden" value="<%=gd[0]["goalAmount"]%>" name="tempAmount" >
        <input type="hidden" value="<%=gd[0]["goalProgress"]%>" name="tempProgress" >
        <input type="hidden" value="<%=gd[0]["goalSlider"]%>" name="tempSlider" >
        <input type="hidden" value="<%=gd[0]["goalLimit"]%>" name="tempLimit" >

    </form>
</div>
<%}%>
<%if(gd[1]["has"]){%>
<div id="goal2Block" >
    <p> Goal #: <%=gd[1]["goalID"]%> <span id="goalIDDisplay"></span></p>
    <p> Goal Name: <%=gd[1]["goalName"]%> <span id="goalIDDisplay2"></span></p>
    <p> Goal Amount: <%=gd[1]["goalAmount"]%> <span id="goalIDDisplay3"></span></p>
    <p> Goal Progress <%=gd[1]["goalProgress"]%> <span id="goalIDDisplay4"></span></p>
    <p> Goal Priority: <%=gd[1]["goalSlider"]%> <span id="goalIDDisplay5"></span></p>
    <p> Trove Limit: <%=gd[1]["goalLimit"]%> <span id="goalIDDisplay6"></span></p>
    <form  method="post" name="myForm" id="myForm">
        <label for="goalAddFunds"><button type="submit" formaction="/TroveAccounting/addFunds">Add Funds</button></label> <input type="text" id="goalAddFunds" name="goalAddFunds">
        <label for="goalDeleteFunds"><button type="submit" formaction="/TroveAccounting/deleteFunds">Delete Funds</button></label> <input type="text" id="goalDeleteFunds" name="goalDeleteFunds">
        <input type="hidden" value="<%=gd[1]["goalID"]%>" name="tempID" >
        <input type="hidden" value="<%=gd[1]["goalName"]%>" name="tempName" >
        <input type="hidden" value="<%=gd[1]["goalAmount"]%>" name="tempAmount" >
        <input type="hidden" value="<%=gd[1]["goalProgress"]%>" name="tempProgress" >
        <input type="hidden" value="<%=gd[1]["goalSlider"]%>" name="tempSlider" >
        <input type="hidden" value="<%=gd[1]["goalLimit"]%>" name="tempLimit" >

    </form>
</div>
<%}%>
<%if(gd[2]["has"]){%>
<div id="goal3Block" >
    <p> Goal #: <%=gd[2]["goalID"]%> <span id="goalIDDisplay"></span></p>
    <p> Goal Name: <%=gd[2]["goalName"]%> <span id="goalIDDisplay2"></span></p>
    <p> Goal Amount: <%=gd[2]["goalAmount"]%> <span id="goalIDDisplay3"></span></p>
    <p> Goal Progress <%=gd[2]["goalProgress"]%> <span id="goalIDDisplay4"></span></p>
    <p> Goal Priority: <%=gd[2]["goalSlider"]%> <span id="goalIDDisplay5"></span></p>
    <p> Trove Limit: <%=gd[2]["goalLimit"]%> <span id="goalIDDisplay6"></span></p>
    <form  method="post" name="myForm" id="myForm">
        <label for="goalAddFunds"><button type="submit" formaction="/TroveAccounting/addFunds">Add Funds</button></label> <input type="text" id="goalAddFunds" name="goalAddFunds">
        <label for="goalDeleteFunds"><button type="submit" formaction="/TroveAccounting/deleteFunds">Delete Funds</button></label> <input type="text" id="goalDeleteFunds" name="goalDeleteFunds">
        <input type="hidden" value="<%=gd[2]["goalID"]%>" name="tempID" >
        <input type="hidden" value="<%=gd[2]["goalName"]%>" name="tempName" >
        <input type="hidden" value="<%=gd[2]["goalAmount"]%>" name="tempAmount" >
        <input type="hidden" value="<%=gd[2]["goalProgress"]%>" name="tempProgress" >
        <input type="hidden" value="<%=gd[2]["goalSlider"]%>" name="tempSlider" >
        <input type="hidden" value="<%=gd[2]["goalLimit"]%>" name="tempLimit" >
    </form>
</div>
<%}%>
</body>
<script>

    </script>
</html>