<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trove</title>
</head>
<style>
    body {background-color: #3E6990; color: #ffffff;}
    button {background-color: #AABD8C; color:#000000; border: 1px solid #000000; border-radius: 10px;
        padding: 10px;}
    button:hover {cursor: pointer;}
    select {background-color: #AABD8C; color:#000000; border: 1px solid #000000; border-radius: 10px;}
    .slider {-webkit-appearance: none; width: 25%; height: 15px; background: #E9E3B4; outline: none; opacity: 0.7;
        -webkit-transition: .2s; transition: opacity .2s; margin-top: 10px;}
    .slider:hover {opacity: 1;}
    .slider::-webkit-slider-thumb {-webkit-appearance: none; appearance: none; width: 30px; height: 30px;
        background: #AABD8C; cursor: pointer;border-radius: 25px;}
    .slider::-moz-range-thumb {width: 30px;height: 30px;background: #AABD8C; cursor: pointer; border-radius: 25px;}
    input {
        border: 2px solid #AABD8C;
        border-radius: 8px;
        background-color: #E9E3B4;
    }
    fieldset{border-radius: 25px;}
    form{
        background-color: #2B2A32;
        border-radius: 25px;
        padding: 10px;
    }
    #goal1Block{background-color: #33455A;
        border-radius: 25px;
        padding: 10px;
        width: 50%;
    margin-bottom: 10px;}
    #goal2Block{background-color: #33455A;
        border-radius: 25px;
        padding: 10px;
        width: 50%;
    margin-bottom: 10px;}
    #goal3Block{background-color: #33455A;
        border-radius: 25px;
        padding: 10px;
        width: 50%;}
</style>
<body>
<%- include('fragments/header'); %>
<h1><b>Trove Goals</b></h1>
<h3>Avast, welcome to your Trove Goals page! : </h3>
<h3>In order to reap the reward for your Trove Goals make sure to read the FAQ page on the dashboard for tips! </h3>
<form  method="post" name="myForm" id="myForm" style="background-color: #33455A;width: 50%;">
    <fieldset>
        <p><b>Create your Goal HERE! </b></p>
        <button type="submit" formaction="/TroveAccounting/add">Add Goal</button>
        <button type="submit" formaction="/TroveAccounting/delete">Delete Goal</button>
        <br>
        <div>
            <br>
            <label for="goalID">Goal Number:</label>
            <select id="goalID" name="goalID">
                <option id="option1" value="1" >Goal1</option>
                <option id="option2"value="2" >Goal2</option>
                <option id="option3"value="3" >Goal3</option>
            </select>
            </br>
            <label for="goalAmount">Enter Goal Amount:</label>
            <input type="text" id="goalAmount" name="goalAmount">
            </br>
            <label for="goalProgress">Enter Goal Progress:</label>
            <input type="text" id="goalProgress" name="goalProgress" >
            </br>
            <label for="goalName">Enter Goal Name:</label>
            <input type="text" id="goalName" name="goalName">
            </br>
            <label for="goalSlider">Enter Priority:</label>
            <input type="range" id="goalSlider" name="goalSlider" class="slider"
                   min="10" max="100" value="100" step="10">
        </div>
        </br>
        <div id="mainError">
            <label hidden=True> ERRORS WILL GO HERE</label>
        </div>
    </fieldset>
</form>
<%if(gd[0]["has"]){%>
    <p style="color:#F39B6D"><%= remessage%> </p>
<div id="goal1Block">
    <p> Goal #: <%=gd[0]["goalID"]%> <span id="goalIDDisplay"></span></p>
    <p> Goal Name: <%=gd[0]["goalName"]%> <span id="goalIDDisplay2"></span></p>
    <p> Goal Amount: <%=gd[0]["goalAmount"]%> <span id="goalIDDisplay3"></span></p>
    <p> Goal Progress <%=gd[0]["goalProgress"]%> <span id="goalIDDisplay4"></span></p>
    <p> Goal Priority: <%=gd[0]["goalSlider"]%> <span id="goalIDDisplay5"></span></p>
    <p style="color:#F39B6D"> Your Trove Limit is: <%= limit%> </p>
    <form  method="post" name="myForm" id="myForm">
        <label for="goalAddFunds"><button type="submit" formaction="/TroveAccounting/addFunds">Add Funds</button></label> <input type="text" id="goalAddFunds" name="goalAddFunds">
        <label for="goalDeleteFunds"><button type="submit" formaction="/TroveAccounting/deleteFunds">Delete Funds</button></label> <input type="text" id="goalDeleteFunds" name="goalDeleteFunds">
        <input type="hidden" value="<%=gd[0]["goalID"]%>" name="tempID" >
        <input type="hidden" value="<%=gd[0]["goalName"]%>" name="tempName" >
        <input type="hidden" value="<%=gd[0]["goalAmount"]%>" name="tempAmount" >
        <input type="hidden" value="<%=gd[0]["goalProgress"]%>" name="tempProgress" >
        <input type="hidden" value="<%=gd[0]["goalSlider"]%>" name="tempSlider" >
    </form>
</div>
<%}%>
<%if(gd[1]["has"]){%>
<div id="goal2Block" >
    <p> Goal #: <%=gd[1]["goalID"]%> <span id="goalIDDisplay"></span></p>
    <p> Goal Name: <%=gd[1]["goalName"]%> <span id="goalIDDisplay2"></span></p>
    <p> Goal Amount: <%=gd[1]["goalAmount"]%> <span id="goalIDDisplay3"></span></p>
    <p> Goal Progress <%=gd[1]["goalProgress"]%> <span id="goalIDDisplay4"></span></p>
    <p> Goal Priority: <%=gd[1]["goalSlider"]%> <span id="goalIDDisplay5"></span></p>
    <p style="color:#F39B6D"> Your Trove Limit is: <%= limit2%> </p>
    <form  method="post" name="myForm" id="myForm">
        <label for="goalAddFunds"><button type="submit" formaction="/TroveAccounting/addFunds">Add Funds</button></label> <input type="text" id="goalAddFunds" name="goalAddFunds">
        <label for="goalDeleteFunds"><button type="submit" formaction="/TroveAccounting/deleteFunds">Delete Funds</button></label> <input type="text" id="goalDeleteFunds" name="goalDeleteFunds">
        <input type="hidden" value="<%=gd[1]["goalID"]%>" name="tempID" >
        <input type="hidden" value="<%=gd[1]["goalName"]%>" name="tempName" >
        <input type="hidden" value="<%=gd[1]["goalAmount"]%>" name="tempAmount" >
        <input type="hidden" value="<%=gd[1]["goalProgress"]%>" name="tempProgress" >
        <input type="hidden" value="<%=gd[1]["goalSlider"]%>" name="tempSlider" >
    </form>
</div>
<%}%>
<%if(gd[2]["has"]){%>
<div id="goal3Block" >
    <p> Goal #: <%=gd[2]["goalID"]%> <span id="goalIDDisplay"></span></p>
    <p> Goal Name: <%=gd[2]["goalName"]%> <span id="goalIDDisplay2"></span></p>
    <p> Goal Amount: <%=gd[2]["goalAmount"]%> <span id="goalIDDisplay3"></span></p>
    <p> Goal Progress <%=gd[2]["goalProgress"]%> <span id="goalIDDisplay4"></span></p>
    <p> Goal Priority: <%=gd[2]["goalSlider"]%> <span id="goalIDDisplay5"></span></p>
    <p style="color:#F39B6D"> Your Trove Limit is: <%= limit3%> </p>
    <form  method="post" name="myForm" id="myForm">
        <label for="goalAddFunds"><button type="submit" formaction="/TroveAccounting/addFunds">Add Funds</button></label> <input type="text" id="goalAddFunds" name="goalAddFunds">
        <label for="goalDeleteFunds"><button type="submit" formaction="/TroveAccounting/deleteFunds">Delete Funds</button></label> <input type="text" id="goalDeleteFunds" name="goalDeleteFunds">
        <input type="hidden" value="<%=gd[2]["goalID"]%>" name="tempID" >
        <input type="hidden" value="<%=gd[2]["goalName"]%>" name="tempName" >
        <input type="hidden" value="<%=gd[2]["goalAmount"]%>" name="tempAmount" >
        <input type="hidden" value="<%=gd[2]["goalProgress"]%>" name="tempProgress" >
        <input type="hidden" value="<%=gd[2]["goalSlider"]%>" name="tempSlider" >
    </form>

</div>
<%}%>
</body>
<script>

    class Goal{
        constructor(goalNum,goalName,goalAmount,goalProgress,sliderNum) {
            this.goalNum = goalNum;
            this.goalName = goalName;
            this.goalAmount = goalAmount;
            this.goalProgress = goalProgress;
            this.sliderNum = sliderNum;
        }
        getGoalNum(){
            return this.goalNum;
        }
        getGoalName(){
            return this.goalName;
        }
        getGoalAmount(){
            return this.goalAmount;
        }
        getGoalProgress(){
            return this.goalProgress;
        }
        getGliderNum(){
            return this.sliderNum;
        }


        /* Needs setters*/
        /**
         *
         * This function adds goals to the Accounting page.
         * @param getTrove
         * returns nothing currently
         *
         */



        /**
         * This function deletes goals to the Accounting page.
         * @param getTrove
         */
        delGoal(getTrove){

        }

        /**
         * This function adds funds to the Accounting page.
         * @param workHours
         * @param wage
         * @param expenditures
         */
        addFunds(workHours, wage, expenditures){

        }
        /**
         * This function deletes funds on a goal in the Accounting page.
         * @param workHours
         * @param wage
         * @param expenditures
         */
        delFunds(workHours, wage, expenditures){

        }
        /**
         * This function allows the user to prioritize their goals by a scalable amount.
         * @param workHours
         * @param wage
         * @param expenditures
         */
        sliderBar(workHours, wage, expenditures){

        }
    }
    /**
     THIS IS THE ADDGOALS FUNCTION!
     I named it wrong!
     */

    var add = false;
    var del = false;


    /**
     *
     * @returns {*}
     */
    function addGoal(){
        let goalNum = document.getElementById("goalID").value;
        let goalName = document.getElementById("goalName").value;
        let goalAmount = document.getElementById("goalAmount").value;
        let goalProgress = document.getElementById("goalProgress").value;
        let goalSlider = document.getElementById("goalSlider").value;
        let newGoal = new Goal(goalName,goalNum,goalAmount,goalProgress,goalSlider);

        let form = document.getElementById('myForm');
        form.action = '/TroveAccounting/add';
        form.submit();
        form.reset();

        <!--
        clearID = document.getElementById("goalID")
        clearID.value = ""
        clearNum = document.getElementById("goalName")
        clearNum.value = ""
        clearAmount = document.getElementById("goalAmount")
        clearAmount.value = ""
        clearProgress = document.getElementById("goalProgress")
        clearProgress.value = ""
        clearSlider = document.getElementById("goalSlider")
        clearSlider.value = 100
         -->

        if (goalNum == "1"){
            var open = document.getElementById("goal1Block");
            open.style.display = "flex"
            var open = document.getElementById("goal1Block");
            open.style.flexDirection = "column"
            document.getElementById("goalIDDisplay").innerHTML = goalNum;
            document.getElementById("goalIDDisplay2").innerHTML = goalName;
            document.getElementById("goalIDDisplay3").innerHTML = goalAmount;
            document.getElementById("goalIDDisplay4").innerHTML = goalProgress;
            document.getElementById("goalIDDisplay5").innerHTML = goalSlider;
        }
        else if (goalNum == "2"){
            var open = document.getElementById("goal2Block");
            open.style.display = "flex"
            var open = document.getElementById("goal2Block");
            open.style.flexDirection = "column"
            document.getElementById("goal2IDDisplay").innerHTML = goalNum;
            document.getElementById("goal2IDDisplay2").innerHTML = goalName;
            document.getElementById("goal2IDDisplay3").innerHTML = goalAmount;
            document.getElementById("goal2IDDisplay4").innerHTML = goalProgress;
            document.getElementById("goal2IDDisplay5").innerHTML = goalSlider;
        }
        else if (goalNum == "3"){
            var open = document.getElementById("goal3Block");
            open.style.display = "flex"
            var open = document.getElementById("goal3Block");
            open.style.flexDirection = "column"
            document.getElementById("goal3IDDisplay").innerHTML = goalNum;
            document.getElementById("goal3IDDisplay2").innerHTML = goalName;
            document.getElementById("goal3IDDisplay3").innerHTML = goalAmount;
            document.getElementById("goal3IDDisplay4").innerHTML = goalProgress;
            document.getElementById("goal3IDDisplay5").innerHTML = goalSlider;
        }
    }
    function delGoal(){
        goalID = document.getElementById("goalID").value
        clearID = document.getElementById("goalID")
        clearID.value = ""
        clearNum = document.getElementById("goalName")
        clearNum.value = ""
        clearAmount = document.getElementById("goalAmount")
        clearAmount.value = ""
        clearProgress = document.getElementById("goalProgress")
        clearProgress.value = ""
        clearSlider = document.getElementById("goalSlider")
        clearSlider.value = 100
        if (goalID == "1"){
            //var option1 = document.getElementById("option1");
            hideBlock1 = document.getElementById("goal1Block")
            hideBlock1.style.display = "None"
        }
        else if (goalID == "2"){
            //var option2 = document.getElementById("option2");
            hideBlock2 = document.getElementById("goal2Block")
            hideBlock2.style.display = "None"

        }
        else if (goalID == "3"){
            //var option3 = document.getElementById("option3");
            hideBlock3 = document.getElementById("goal3Block")
            hideBlock3.style.display = "None"

        }
    }
    /*
    Math Equations is meant to make the limit of what the user should give
     */
    function MathEquations(income,weekHours,expendAvg) {

        monthyWage = ((((income * weekHours) - ((income * weekHours) - expendAvg) / 5)) * 2);
        troveAllowance = monthlyWage / 10;

        return troveAllowance;
    }
</script>
</html>