<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1 style="text-align: center;">Create an Account</h1>
</head>

<style>
  body {background-color: #3E6990; color: #ffffff;}
  button {background-color: #AABD8C; color:#000000; border: 1px solid #000000; border-radius: 10px;
    padding: 10px;}
  button:hover {cursor: pointer;}
  a {color: #ffffff;}
  a:hover {font-weight: bold; cursor: pointer;}
  #signup {text-align: center;}
  #logo {display:block; width: 250px; height: 250px; margin: auto;}
  form {padding: 30px; background-color: #33455A; border-radius: 25px; width:min-content; margin:auto;}
  input {
    border: 2px solid #AABD8C;
    border-radius: 8px;
    background-color: #E9E3B4;
  }
</style>

<body>
<img src="images/TroveLogo.png" alt="Trove Logo" id="logo"/>
<form action="/Sign_Up" method="post">
  <label for ="Fname">First Name:</label><br>
  <input type="text" id="Fname" name="Fname" value="<%=FName%>"><br>
  <p style="color:#F39B6D;"><%= FirstErr%></p>
  <label for ="Lname">Last Name:</label><br>
  <input type="text" id="Lname" name="Lname" value="<%=LName%>"><br>
  <p style="color:#F39B6D;"><%= LastErr%></p>
  <label for="Email">Email:</label><br>
  <input type="text" id="Email" name="Email" value="<%=ElectMail%>"><br>
  <p style="color:#F39B6D;"><%= EmailErr%></p>
  <label for="NewPsswd">Enter Password:</label><br>
  <input type="password" id="NewPsswd" name="NewPsswd" value="<%=NewPassword%>"><br>
  <p style="color:#F39B6D;"><%= NewPassErr%></p>
  <label for="CheckPsswd">Re-Enter Password:</label><br>
  <input type="password" id="CheckPsswd" name="CheckPsswd" value="<%=CheckPassword%>"><br>
  <p style="color:#F39B6D;"><%= CheckPassErr%></p>

  <button type="submit">Sign Up</button>
  <a href="/Trove_Login" class="button">Log in</a>
  <p style="color:#F39B6D;"><%= EmptyErr%></p>
</form>
</body>
</html>