<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trove</title>
</head>
<style>
    body {
        background-color: #3E6990;
        color: #ffffff;
    }

    button {
        background-color: #AABD8C;
        color: #000000;
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 10px;
    }

    button:hover {
        cursor: pointer;
    }

    select {
        background-color: #AABD8C;
        color: #000000;
        border: 1px solid #000000;
        border-radius: 10px;
    }

    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }

    #del {
        display: flex;
        flex-direction: row;
    }

    #deleteAll {
        padding-left: 20px;
    }

    #delEvent {
        margin-left: 50px;
    }

    #createEvent {
        margin-left: 50px;
    }
</style>
<body onload="main()">
<%- include('fragments/header'); %>
<h1>Weekly Calendar</h1>
<p>Manage your calendar by adding, editing, and removing events here!</p><br>
<table style="background-color:#E9E3B4; color:#000000;" id="cal">
    <tr id="tableHead">
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <td><%- sun %></td>
        <td><%- mon %></td>
        <td><%- tue %></td>
        <td><%- wed %></td>
        <td><%- thu %></td>
        <td><%- fri %></td>
        <td><%- sat %></td>
    </tr>
</table>
<br>
<div id="del">
    <form action="/Weekly-Calendar" method="post" id="deleteEvent" style="display:<%= dEvent %>">
        <label id="eventSelector" for="eventSelector">Select an Event to Delete: </label>
        <select id="eventSelector" name="eventSelector">
            <%- events %>
        </select><br>
        <input type="hidden" id="type" name="type" value="deleteEvent">
        <button type="submit" id="delEvent">Delete Event</button>
    </form>
    <br>

    <form action="/Weekly-Calendar" method="post" id="deleteAll" style="display:<%= dAll %>">
        <input type="hidden" id="type" name="type" value="deleteAll">
        <button type="submit">Delete All Events</button>
    </form>
    <br>
</div>

<div id="deleteAllContainer" style="display:<%= conf %>">
    <p style="color:#F39B6D;">Are you sure you want to delete all events?</p>
    <div id="deleteAllButtonsContainer" style="display: flex; flex-direction: row;">
        <form action="/Weekly-Calendar" method="post" id="confirmDeleteAll">
            <input type="hidden" id="type" name="type" value="confirmDeleteAll">
            <button type="submit">Confirm Deletion</button>
        </form>
        <form action="/Weekly-Calendar" method="post" id="cancelDeleteAll">
            <input type="hidden" id="type" name="type" value="cancelDeleteAll">
            <button type="submit">Cancel</button>
        </form>
    </div>
</div>
<br>

<form action="/Weekly-Calendar" method="post" id="addEvent">
    <fieldset>
        <legend>Create an Event</legend>
        <label for="eName">Event Name:</label>
        <input id="eName" name="eName" type="text" value="<%= sName %>"><br>
        <p style="color:#F39B6D;"> <%= name %></p>

        <label for="eDay">Day:</label>
        <select id="eDay" name="eDay">
            <option value="0">Sunday</option>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
        </select><br><br>

        <label for="eStart">Start Time:</label>
        <select id="eStart" name="eStart">
            <option value="0.0">12:00am</option>
            <option value="0.5">12:30am</option>
            <option value="1.0">1:00am</option>
            <option value="1.5">1:30am</option>
            <option value="2.0">2:00am</option>
            <option value="2.5">2:30am</option>
            <option value="3.0">3:00am</option>
            <option value="3.5">3:30am</option>
            <option value="4.0">4:00am</option>
            <option value="4.5">4:30am</option>
            <option value="5.0">5:00am</option>
            <option value="5.5">5:30am</option>
            <option value="6.0">6:00am</option>
            <option value="6.5">6:30am</option>
            <option value="7.0">7:00am</option>
            <option value="7.5">7:30am</option>
            <option value="8.0">8:00am</option>
            <option value="8.5">8:30am</option>
            <option value="9.0">9:00am</option>
            <option value="9.5">9:30am</option>
            <option value="10.0">10:00am</option>
            <option value="10.5">10:30am</option>
            <option value="11.0">11:00am</option>
            <option value="11.5">11:30am</option>
            <option value="12.0">12:00pm</option>
            <option value="12.5">12:30pm</option>
            <option value="13.0">1:00pm</option>
            <option value="13.5">1:30pm</option>
            <option value="14.0">2:00pm</option>
            <option value="14.5">2:30pm</option>
            <option value="15.0">3:00pm</option>
            <option value="15.5">3:30pm</option>
            <option value="16.0">4:00pm</option>
            <option value="16.5">4:30pm</option>
            <option value="17.0">5:00pm</option>
            <option value="17.5">5:30pm</option>
            <option value="18.0">6:00pm</option>
            <option value="18.5">6:30pm</option>
            <option value="19.0">7:00pm</option>
            <option value="19.5">7:30pm</option>
            <option value="20.0">8:00pm</option>
            <option value="20.5">8:30pm</option>
            <option value="21.0">9:00pm</option>
            <option value="21.5">9:30pm</option>
            <option value="22.0">10:00pm</option>
            <option value="22.5">10:30pm</option>
            <option value="23.0">11:00pm</option>
            <option value="23.5">11:30pm</option>
        </select><br><br>

        <label for="eEnd">End Time:</label>
        <select id="eEnd" name="eEnd">
            <option value="0.0">12:00am</option>
            <option value="0.5">12:30am</option>
            <option value="1.0">1:00am</option>
            <option value="1.5">1:30am</option>
            <option value="2.0">2:00am</option>
            <option value="2.5">2:30am</option>
            <option value="3.0">3:00am</option>
            <option value="3.5">3:30am</option>
            <option value="4.0">4:00am</option>
            <option value="4.5">4:30am</option>
            <option value="5.0">5:00am</option>
            <option value="5.5">5:30am</option>
            <option value="6.0">6:00am</option>
            <option value="6.5">6:30am</option>
            <option value="7.0">7:00am</option>
            <option value="7.5">7:30am</option>
            <option value="8.0">8:00am</option>
            <option value="8.5">8:30am</option>
            <option value="9.0">9:00am</option>
            <option value="9.5">9:30am</option>
            <option value="10.0">10:00am</option>
            <option value="10.5">10:30am</option>
            <option value="11.0">11:00am</option>
            <option value="11.5">11:30am</option>
            <option value="12.0">12:00pm</option>
            <option value="12.5">12:30pm</option>
            <option value="13.0">1:00pm</option>
            <option value="13.5">1:30pm</option>
            <option value="14.0">2:00pm</option>
            <option value="14.5">2:30pm</option>
            <option value="15.0">3:00pm</option>
            <option value="15.5">3:30pm</option>
            <option value="16.0">4:00pm</option>
            <option value="16.5">4:30pm</option>
            <option value="17.0">5:00pm</option>
            <option value="17.5">5:30pm</option>
            <option value="18.0">6:00pm</option>
            <option value="18.5">6:30pm</option>
            <option value="19.0">7:00pm</option>
            <option value="19.5">7:30pm</option>
            <option value="20.0">8:00pm</option>
            <option value="20.5">8:30pm</option>
            <option value="21.0">9:00pm</option>
            <option value="21.5">9:30pm</option>
            <option value="22.0">10:00pm</option>
            <option value="22.5">10:30pm</option>
            <option value="23.0">11:00pm</option>
            <option value="23.5">11:30pm</option>
        </select><br>
        <p style="color:#F39B6D;"> <%= end %></p>

        <label for="jobSelector">Select Job:</label>
        <select id="jobSelector" name="jobSelector">
            <%- jobs %>
        </select><br><br>
        <p style="color:#F39B6D;"> <%= noJob %></p>

        <input type="hidden" id="type" name="type" value="addEvent">
        <button type="submit" id="createEvent">Create Event</button>
    </fieldset>
</form>
</body>
</html>
